<section class="main">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.4/summernote.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.4/summernote.js"></script>

  <div class='row pageTitle bottomBorder'>
    <div class="col-sm-11">
        Publications
    </div>
    <div class="col-sm-1">
      <i class="fa fa-plus-square" id="addnewpublication"></i>
    </div>
  </div>

  {{#each dynamicData}}

    <form enctype="multipart/form-data" action="updateAboutMe/{{this.id}}" onsubmit="return validateUpdateAboutMeForm({{this.id}})" method="POST"> 

      <div class='row aboutMeGroup'>
        <div class="col-sm-12">
          <span class="titleText">Header: 
            <input type="text" id="AboutMeHeader{{this.id}}" name="AboutMeHeader{{this.id}}" maxlength="200" value="{{this.header}}"/>
        </div>
      </div>  

      <div class="row">
        <div class="adminImageArea col-md-5">
          <img class='CMSImage' src="{{this.elementimage}}">
          <input type="file" name="aboutmepicture{{this.id}}" id="aboutmepicture{{this.id}}">
          <input type="hidden" name="aboutPageImage{{this.id}}" id="aboutPageImage{{this.id}}" value="{{this.elementimage}}"/> 
        </div>
        <div class="hideElement adminTextArea col-md-7">
          <textarea rows="4" cols="50" id="AboutMeText{{this.id}}" name="AboutMeText{{this.id}}" maxlength="2000">{{this.elementtext}}</textarea> 
        </div>
        <div class="col-md-7">
          <div class="row">
            <div id="summernoteAboutMe{{this.id}}" data-id={{this.id}}>
            </div>
          </div>
        </div>
      </div>
      <div>
        <button type="submit" id="update">Update</button>
        <a href="deleteCarousel/{{this.id}}">
           <button type="button" id="delete">Delete</button>
        </a>
      </div>
    
    
    
    
    </form>
  {{/each}}

 
 <script>
    $(document).ready(function() {
      
      //loop through the DOM and create a summernote element for each object    
      $('div[id^=summernote]').each(function() {
        var summerNoteID = $(this).data("id");
            
        //Initialize Summernote
        $('#summernoteAboutMe' + summerNoteID).summernote({
          toolbar: [
              ['style', ['bold', 'italic', 'underline', 'clear']],
              ['font', ['strikethrough', 'superscript', 'subscript']],
              ['fontsize', ['fontsize']],
              ['para', ['ul', 'ol', 'paragraph']],
              ['insert', ['link']]
            ]
        });

        //Read coded contents & decode them
        var decodedTextContent = decodeURI( $("#AboutMeText" + summerNoteID).val() );

        //Insert decoded text into the proper fields  
        $('#summernoteAboutMe' + summerNoteID).summernote('code', decodedTextContent);
      })      
    });

    //Listen to update bio page submit button
    function validateUpdateAboutMeForm(event) {

      var aboutmeFormattedData = $('#summernoteAboutMe' + event).summernote('code');
      var aboutmeEncodedData = encodeURI(aboutmeFormattedData);

      $("#AboutMeText" + event).val(aboutmeEncodedData);

      return true;
    }
  </script>

</section>