<section class="main">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.4/summernote.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.4/summernote.js"></script>

  <div class='row pageTitle'>
    <div class="col-sm-12">
        About Me Page Elements
    </div>
  </div>

  {{#each dynamicData}}

    <form enctype="multipart/form-data" action="updateAboutMe" onsubmit="return validateUpdateAboutMeForm()" method="POST"> 

      <div class='row'>
        <div class="col-sm-12">
          <span class="titleText">{{this.header}}</span>
        </div>
      </div>  

      <div class="row">
        <div class="adminImageArea col-md-5">
          <img class='CMSImage' src="{{this.elementimage}}">
          <input type="file" name="aboutmepicture{{this.id}}" id="aboutmepicture{{this.id}}">
          <input type="hidden" id="aboutPageImage{{this.id}}" name="aboutPageImage{{this.id}}" value="{{this.elementimage}}"/> 
        </div>
        <div class="hideElement adminTextArea col-md-7">
          <textarea rows="4" cols="50" id="AboutMeText{{this.id}}" name="AboutMeText{{this.id}}" maxlength="2000">{{this.elementtext}}</textarea> 
        </div>
        <div class="col-md-7">
          <div class="row">
            <div id="summernoteAboutMe{{this.id}}" data-id={{this.id}}>
            </div>
          </div>
        </div>
      </div>
    </form>
  {{/each}}

 
 <script>
    $(document).ready(function() {
      
      //loop through the DOM and create a summernote element for each object    
      $('div[id^=summernote]').each(function() {
        var summerNoteID = $(this).data("id");
            
        //Initialize Summernote
        $('#summernoteAboutMe' + summerNoteID).summernote({
          toolbar: [
              ['style', ['bold', 'italic', 'underline', 'clear']],
              ['font', ['strikethrough', 'superscript', 'subscript']],
              ['fontsize', ['fontsize']],
              ['para', ['ul', 'ol', 'paragraph']],
              ['insert', ['link']]
            ]
        });

        //Read coded contents & decode them
        var decodedTextContent = decodeURI( $("#AboutMeText" + summerNoteID).val() );

        //Insert decoded text into the proper fields  
        $('#summernoteAboutMe' + summerNoteID).summernote('code', decodedTextContent);
      })      
    });
  </script>

</section>