<section class="main">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.4/summernote.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.4/summernote.js"></script>

  <div class='row pageTitle bottomBorder'>
    <div class="col-sm-11">
        Publications
    </div>
    <div class="col-sm-1">
      <i class="fa fa-plus-square" id="addnewpublication"></i>
    </div>
  </div>

  {{#each dynamicData}}

    <form enctype="multipart/form-data" action="updatePublication/{{this.id}}" onsubmit="return validateUpdatePublicationForm({{this.id}})" method="POST"> 

      <div class='row publicationGroup'>
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-4">
              <span class="titleText">Headline:</span>
            </div>
            {{!-- Hidden element to contain encoded text for form submission --}}
            <div class="hideElement adminTextArea col-md-12">
              <input type="text" id="PublicationHeader{{this.id}}" name="PublicationHeader{{this.id}}" maxlength="200" value="{{this.header}}"/>
            </div>
            <div class="col-md-8">
              <div class="row">
                <div id="summernoteHeadline{{this.id}}" data-id="{{this.id}}">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            {{!-- Hidden element to contain encoded text for form submission --}}
            <div class="hideElement adminTextArea col-md-7">
              <textarea rows="4" cols="50" id="PublicationText{{this.id}}" name="PublicationText{{this.id}}" maxlength="2000">{{this.elementtext}}</textarea> 
            </div>
            <div class="col-md-4">
              <span class="titleText">Body:</span>
            </div>
            <div class="col-md-8">
              <div class="row">
                <div id="summernotePublication{{this.id}}" data-id={{this.id}}>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="adminImageArea col-md-4">
              <input type="file" name="publicationpicture" id="publicationpicture{{this.id}}" class="hideElement">
              <input type="hidden" name="publicationPageImage{{this.id}}" id="publicationPageImage{{this.id}}" value="{{this.elementimage}}"/> 
              <label for="publicationpicture{{this.id}}" class="labelButton">Select file</label>
            </div>
            <div class="col-md-8">
              <img class='CMSImage' src="{{this.elementimage}}">
            </div>
          </div>

          <div class="row">
            {{!-- Hidden element to contain encoded text for form submission --}}
            <div class="hideElement adminTextArea col-md-12">
              <textarea rows="3" cols="40" id="PublicationCaption{{this.id}}" name="PublicationCaption{{this.id}}" maxlength="2000">{{this.imagecaption}}</textarea> 
            </div>
            <div class="col-md-4">
              <span class="titleText">Caption:</span>
            </div>
            <div class="col-md-8">
              <div class="row">
                <div id="summernoteCaption{{this.id}}" data-id={{this.id}}>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class='row'>
          <div class="col-md-4">
            <span class="titleText">Type:</span>
          </div>
          <div class="col-md-8">
            <select class="formInput" id="category{{this.id}}" name="category{{this.id}}">
              <option value="article" {{#if this.article}} selected{{/if}}>Article</option>
              <option value="bookreview" {{#if this.bookreview}} selected{{/if}}>Book Review</option>
            </select>
          </div>
        </div>

        <div class="row buttonRow">
          <div class="col-sm-2"></div>
          <div class="col-sm-10 buttonCol">
            <button type="submit" id="update">Update</button>
            <a href="deletePublication/{{this.id}}">
              <button type="button" id="delete">Delete</button>
            </a>
          </div>  
        </div>
      </div>
    </form>
  {{/each}}

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header pageTitle">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          Add New Publication
        </div>
        
        <div class="modal-body">
          <form enctype="multipart/form-data" action="newPublication" onsubmit="return validateNewPublicationForm()" method="POST">

            <div class="row">
              <input type="file" name="publicationpicture" id="publicationpicture" class="hideElement">
              <label for="publicationpicture" class="labelButton">Select file</label>
              </div>
            <div class="row">
              {{!-- Hidden element to contain encoded text for form submission --}}
              <div class="hideElement adminTextArea col-md-12">
                <textarea rows="3" cols="40" id="NewCaption" name="NewCaption" maxlength="2000"></textarea> 
              </div>
              <div class="col-md-3 formLabel">
                Caption:
              </div>
              <div class="col-md-9">
                <div class="row">
                  <div id="summernoteNewCaption">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
             {{!-- Hidden element to contain encoded text for form submission --}}
              <div class="formInput hideElement">
                <input type="text" id="NewHeader" name="NewHeader"/> 
              </div>
              <div class="col-md-3 formLabel">
                Headline: 
              </div>
              <div class="col-md-9">
                <div class="row">
                  <div id="summernoteNewHeader">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              {{!-- Hidden element to contain encoded text for form submission --}}
              <div class="formInput hideElement">
                <input type="text" id="NewBody" name="NewBody" height="300px"/> 
              </div>
              <div class="col-md-3 formLabel">
                Body: 
              </div>
              <div class="col-md-9">
                <div class="row">
                  <div id="summernoteNewBody">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3 formLabel">
                Type: 
              </div>
              <div class="col-md-9 ">
                <select class="formInput" id="NewCategory" name="NewCategory">
                  <option value="article" selected>Article</option>
                  <option value="bookreview">Book Review</option>
                </select>
              </div>
            </div>

            <div class="row">
              <button type="submit" id="update">Submit</button>
              <button type="cancel" id="cancel" data-dismiss="modal">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div> 
 
 <script>
    $(document).ready(function() {
      
      //loop through the DOM and create a summernote element for each object    
      $('div[id^=summernote]').each(function() {
        var summerNoteID = $(this).data("id");
            
        //Initialize Summernote BODY
        $('#summernotePublication' + summerNoteID).summernote({
          fontNames: ["Arial", "Arial Black", "Courier New", "Helvetica Neue", "Helvetica", 
                      "Impact", "Lucida Grande", "Tahoma", "Times New Roman", "Verdana"],
          fontNamesIgnoreCheck: ["Arial", "Arial Black", "Courier New", "Helvetica Neue", "Helvetica", 
                      "Impact", "Lucida Grande", "Tahoma", "Times New Roman", "Verdana"],
          toolbar: [
              ['style', ['bold', 'italic', 'underline', 'clear']],
              ['font', ['strikethrough', 'superscript', 'subscript']],
              ['fontsize', ['fontsize']],
              ["fontname", ["fontname"]],
              ['para', ['ul', 'ol', 'paragraph']],
              ['height', ['height']],
              ['insert', ['link']]
            ]
        });

        //Read coded contents & decode them
        var decodedBodyContent = decodeURI( $("#PublicationText" + summerNoteID).val() );

        //Insert decoded text into the proper fields  
        $('#summernotePublication' + summerNoteID).summernote('code', decodedBodyContent);
      
       //Initialize Summernote Headline
        $('#summernoteHeadline' + summerNoteID).summernote({
          fontNames: ["Arial", "Arial Black", "Courier New", "Helvetica Neue", "Helvetica", 
                      "Impact", "Lucida Grande", "Tahoma", "Times New Roman", "Verdana"],
          fontNamesIgnoreCheck: ["Arial", "Arial Black", "Courier New", "Helvetica Neue", "Helvetica", 
                      "Impact", "Lucida Grande", "Tahoma", "Times New Roman", "Verdana"],
          toolbar: [
              ['style', ['bold', 'italic', 'underline', 'clear']],
              ['font', ['strikethrough', 'superscript', 'subscript']],
              ['fontsize', ['fontsize']],
              ["fontname", ["fontname"]],
              ['para', ['ul', 'ol', 'paragraph']],
              ['height', ['height']],
              ['insert', ['link']]
            ]
        });

        //Read contents & convert them from Summernote syntax to human readable
        var decodedHeadlineContent = decodeURI( $("#PublicationHeader" + summerNoteID).val() );

        //Insert decoded text into the proper fields  
        $('#summernoteHeadline' + summerNoteID).summernote('code', decodedHeadlineContent);

        //Initialize Summernote Caption
        $('#summernoteCaption' + summerNoteID).summernote({
          fontNames: ["Arial", "Arial Black", "Courier New", "Helvetica Neue", "Helvetica", 
                      "Impact", "Lucida Grande", "Tahoma", "Times New Roman", "Verdana"],
          fontNamesIgnoreCheck: ["Arial", "Arial Black", "Courier New", "Helvetica Neue", "Helvetica", 
                      "Impact", "Lucida Grande", "Tahoma", "Times New Roman", "Verdana"],
          toolbar: [
              ['style', ['bold', 'italic', 'underline', 'clear']],
              ['font', ['strikethrough', 'superscript', 'subscript']],
              ['fontsize', ['fontsize']],
              ["fontname", ["fontname"]],
              ['para', ['ul', 'ol', 'paragraph']],
              ['height', ['height']],
              ['insert', ['link']]
            ]
        });

        //Read contents & convert them from Summernote syntax to human readable
        var decodedCaptionContent = decodeURI( $("#PublicationCaption" + summerNoteID).val() );

        //Insert decoded text into the proper fields  
        $('#summernoteCaption' + summerNoteID).summernote('code', decodedCaptionContent);

        //Initialize Summernote for new publications
        $('#summernoteNewCaption').summernote({
          fontNames: ["Arial", "Arial Black", "Courier New", "Helvetica Neue", "Helvetica", 
                      "Impact", "Lucida Grande", "Tahoma", "Times New Roman", "Verdana"],
          fontNamesIgnoreCheck: ["Arial", "Arial Black", "Courier New", "Helvetica Neue", "Helvetica", 
                      "Impact", "Lucida Grande", "Tahoma", "Times New Roman", "Verdana"],
          toolbar: [
              ['style', ['bold', 'italic', 'underline', 'clear']],
              ['font', ['strikethrough', 'superscript', 'subscript']],
              ['fontsize', ['fontsize']],
              ["fontname", ["fontname"]],
              ['para', ['ul', 'ol', 'paragraph']],
              ['height', ['height']],
              ['insert', ['link']]
            ]
        });

        $('#summernoteNewHeader').summernote({
          fontNames: ["Arial", "Arial Black", "Courier New", "Helvetica Neue", "Helvetica", 
                      "Impact", "Lucida Grande", "Tahoma", "Times New Roman", "Verdana"],
          fontNamesIgnoreCheck: ["Arial", "Arial Black", "Courier New", "Helvetica Neue", "Helvetica", 
                      "Impact", "Lucida Grande", "Tahoma", "Times New Roman", "Verdana"],
          toolbar: [
              ['style', ['bold', 'italic', 'underline', 'clear']],
              ['font', ['strikethrough', 'superscript', 'subscript']],
              ['fontsize', ['fontsize']],
              ["fontname", ["fontname"]],
              ['para', ['ul', 'ol', 'paragraph']],
              ['height', ['height']],
              ['insert', ['link']]
            ]
        });

        $('#summernoteNewBody').summernote({
          fontNames: ["Arial", "Arial Black", "Courier New", "Helvetica Neue", "Helvetica", 
                      "Impact", "Lucida Grande", "Tahoma", "Times New Roman", "Verdana"],
          fontNamesIgnoreCheck: ["Arial", "Arial Black", "Courier New", "Helvetica Neue", "Helvetica", 
                      "Impact", "Lucida Grande", "Tahoma", "Times New Roman", "Verdana"],
          toolbar: [
              ['style', ['bold', 'italic', 'underline', 'clear']],
              ['font', ['strikethrough', 'superscript', 'subscript']],
              ['fontsize', ['fontsize']],
              ["fontname", ["fontname"]],
              ['para', ['ul', 'ol', 'paragraph']],
              ['height', ['height']],
              ['insert', ['link']]
            ]
        });

      })      
    });

    //Listen to update publication page submit button
    function validateUpdatePublicationForm(event) {

       {{!-- Body --}}
      var publicationFormattedData = $('#summernotePublication' + event).summernote('code');
      var publicationEncodedData = encodeURI(publicationFormattedData);
      $("#PublicationText" + event).val(publicationEncodedData);

      {{!-- Headline --}}
      var publicationHeadlineData = $('#summernoteHeadline' + event).summernote('code');
      var headlineEncodedData = encodeURI(publicationHeadlineData);
      $("#PublicationHeader" + event).val(headlineEncodedData);

      {{!-- Caption --}}
      var captionFormattedData = $('#summernoteCaption' + event).summernote('code');
      var captionEncodedData = encodeURI(captionFormattedData);
      $("#PublicationCaption" + event).val(captionEncodedData);

      return true;
    }

    function validateNewPublicationForm() {
      {{!-- Body --}}
      var publicationFormattedData = $('#summernoteNewBody').summernote('code');
      var publicationEncodedData = encodeURI(publicationFormattedData);
      $("#NewBody").val(publicationEncodedData);

      {{!-- Headline --}}
      var publicationHeadlineData = $('#summernoteNewHeader').summernote('code');
      var headerEncodedData = encodeURI(publicationHeadlineData);
      $("#NewHeader").val(headerEncodedData);

      {{!-- Caption --}}
      var captionFormattedData = $('#summernoteNewCaption').summernote('code');
      var captionEncodedData = encodeURI(captionFormattedData);
      $("#NewCaption").val(captionEncodedData);

      return true;
    }

    //Listen to trigger modal
    $("#addnewpublication" ).click(function() {
	  	$("#myModal").modal();
	  });
  </script>

</section>