<section class="main">
  <div id="articles"></div>
  {{#each dynamicData}}
    {{#if this.isArticle}}
      <div class='row'>
        <div class="col-xs-12 pageTitle">
          {{{this.header}}}
        </div>
      </div>
      <div class='row'>
        <div class="col-md-12 image-container">
          <img class="profile" src="{{this.elementimage}}">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 caption-container">
          {{{this.imagecaption}}}
        </div>
      </div>
      <div class='row'>
        <div class="col-sm-12">
          <p>
            {{{this.elementtext}}}
          </p>
        </div>
      </div>
    {{/if}}
  {{/each}}
  

  <div id="bookreviews"></div>
  {{#each dynamicData}}
    {{#if this.isBookReview}}
      <div class='row'>
        <div class="col-xs-12 pageTitle">
          {{{this.header}}}
        </div>
      </div>
      <div class='row'>
        <div class="col-md-12 image-container">
          <img class="profile" src="{{this.elementimage}}">
      </div>
      <div class="row">
        <div class="col-md-12 caption-container">
          {{{this.imagecaption}}}
        </div>
      </div>
      <div class='row'>
        <div class="col-sm-12">
          <p>
            {{{this.elementtext}}}
          </p>
        </div>
      </div>
    {{/if}}
  {{/each}}

  <div id="jumplinks">
    <div class="articleslink">
      <a href="#articles">
        To Articles
      </a>
    </div>
    <div class="bookreviewlink">
      <a href="#bookreviews">
        To Book Reviews
      </a>
    </div>
  </div>
</section>